<div class="center hero-unit">
<h1>Welcome to My Blog</h1>
<h2>
  This is the home page for
  <a href="http://blooming-ocean-4286.herokuapp.com/"> World news</a> for my blog.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("kaycee.JPG", alt: "kaycee"), 'http://blooming-ocean-4286.herokuapp.com/' %>
